## Openpyxl and Excel Automation - Reading

**openpyxl documentation:** https://openpyxl.readthedocs.io/en/stable/

In [1]:
import openpyxl as xl

We can load  pre-existing work books

In [2]:
wb = xl.load_workbook("test.xlsx")

We can get the sheet names as a list:

In [3]:
wb.sheetnames

['MySheet', 'OtherSheet', 'ThisSheet']

If we want to access a single sheet we can call it individually with slicing

In [4]:
sheet = wb["ThisSheet"]

We can also access data from sheet cells we refer by sheet and then cell address

In [5]:
sheet['A2'].value

'Abraham Lincoln'

We can also access data this way:

In [6]:
e = sheet['B2']

In [7]:
e.value

'2/12/1809'

In [8]:
e.row

2

In [9]:
e.column

2

We can actually access data with his notation:

In [10]:
sheet.cell(row=2, column=4)

In [11]:
sheet.cell(row=2,column=4).value

'Mary Todd'

In [12]:
for y in range(1,9):
    print(y, sheet.cell(row=y, column=1).value)

1 President
2 Abraham Lincoln
3 George Washington
4 Teddy Roosevelt
5 Barack Obama
6 James Madison
7 Andrew Johnson
8 Herbert Hoover

In [13]:
for x in range(1,4):
    print(x, sheet.cell(row=1, column=x).value)

1 President
2 Birthday
3 Hometown

In [14]:
count = 1
for y in range(1,9):
    for x in range(1,4):
        print(count, sheet.cell(row=y, column=x).value)
        count +=1

1 President
2 Birthday
3 Hometown
4 Abraham Lincoln
5 2/12/1809
6 Springfield, IL
7 George Washington
8 2/22/1732
9 Mount Vernon, VA
10 Teddy Roosevelt
11 1919-01-06 00:00:00
12 New York, New York
13 Barack Obama
14 1961-08-04 00:00:00
15 Chicago, IL
16 James Madison
17 3/16/1751
18 Montpelier, VA
19 Andrew Johnson
20 12/29/1808
21 Elizabethton, Tennessee
22 Herbert Hoover
23 8/10/1874
24 West Branch, Iowa

In [15]:
count = 1
for x in range(1,4):
    for y in range(1,9):
        print(count, sheet.cell(row=y, column=x).value)
        count +=1

1 President
2 Abraham Lincoln
3 George Washington
4 Teddy Roosevelt
5 Barack Obama
6 James Madison
7 Andrew Johnson
8 Herbert Hoover
9 Birthday
10 2/12/1809
11 2/22/1732
12 1919-01-06 00:00:00
13 1961-08-04 00:00:00
14 3/16/1751
15 12/29/1808
16 8/10/1874
17 Hometown
18 Springfield, IL
19 Mount Vernon, VA
20 New York, New York
21 Chicago, IL
22 Montpelier, VA
23 Elizabethton, Tennessee
24 West Branch, Iowa